<div class='row'>
  <wrap class="col-md-6">
    <div id='checker'>
      <h1>Grammar Checker</h1>


      <html>
      <script type="text/javascript" src="https://www.languagetool.org/js/jquery-1.7.0.min.js"></script>
      <script type="text/javascript" src="https://www.languagetool.org/online-check/tiny_mce/tiny_mce.js"></script>
      <script type="text/javascript" src="https://www.languagetool.org/online-check/tiny_mce/plugins/atd-tinymce/editor_plugin2.js"></script>

      <script language="javascript" type="text/javascript">
        tinyMCE.init({
          mode: "textareas",
          plugins: "AtD,paste",
          paste_text_sticky: true,
          setup: function (ed) {
            ed.onInit.add(function (ed) {
              ed.pasteAsPlainText = true;
            });
          },
          /* translations: */
          languagetool_i18n_no_errors: {
            // "No errors were found.":
            "de-DE": "Keine Fehler gefunden."
          },
          languagetool_i18n_explain: {
            // "Explain..." - shown if there is an URL with a detailed description:
            "de-DE": "Mehr Informationen..."
          },
          languagetool_i18n_ignore_once: {
            // "Ignore this error":
            "de-DE": "Hier ignorieren"
          },
          languagetool_i18n_ignore_all: {
            // "Ignore this kind of error":
            "de-DE": "Fehler dieses Typs ignorieren"
          },
          languagetool_i18n_rule_implementation: {
            // "Rule implementation":
            "de-DE": "Implementierung der Regel"
          },

          languagetool_i18n_current_lang:
          function () { return document.checkform.lang.value; },
          /* The URL of your LanguageTool server.
             If you use your own server here and it's not running on the same domain 
             as the text form, make sure the server gets started with '--allow-origin ...' 
             and use 'https://your-server/v2/check' as URL: */
          languagetool_rpc_url: "https://languagetool.org/api/v2/check",
          /* edit this file to customize how LanguageTool shows errors: */
          languagetool_css_url:
          "https://www.languagetool.org/online-check/" +
          "tiny_mce/plugins/atd-tinymce/css/content.css",
          /* this stuff is a matter of preference: */
          theme: "advanced",
          theme_advanced_buttons1: "",
          theme_advanced_buttons2: "",
          theme_advanced_buttons3: "",
          theme_advanced_toolbar_location: "none",
          theme_advanced_toolbar_align: "left",
          theme_advanced_statusbar_location: "bottom",
          theme_advanced_path: false,
          theme_advanced_resizing: true,
          theme_advanced_resizing_use_cookie: false,
          gecko_spellcheck: false
        });

        function doit() {
          var langCode = document.checkform.lang.value;
          tinyMCE.activeEditor.execCommand("mceWritingImprovementTool", langCode);
        }

      </script>

      <body>

        <form name="checkform" action="http://community.languagetool.org" method="post">

          <p id="checktextpara">
            <textarea id="checktext" name="text" style="width: 100%" rows="6">Paste your own text here... or check check this text.</textarea>
          </p>

          <div>
            <select name="lang" id="lang">
          <option value="en-US">English</option>
          <option value="de-DE">German</option>
          <option value="it">Italian</option>
      </select>
            <input type="submit" name="_action_checkText" value="Check Text" onClick="doit();return false;">
            <div id="feedbackErrorMessage" style="color: red;"></div>
          </div>

        </form>

      </body>

      </html>

      <a href='https://languagetool.org/'>Language Tool</a>
    </div>
  </wrap>
  <form id='tracker' class="col-md-6">
    <h2>Track Errors</h2>
    <ul id='errors'>
      <wrap class="col-md-6">
        <li class='log'><button ng-click="count=count+1" ng-init="count=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Spelling
          <span class='count' name="spelling">Error Count:{{count}}</span>
        </li>

        <li class='log'>Record word:<input type="text" ng-model="text" name="text" id="spelling" /><button ng-click="submit2()" ng-controller="GrammarCheckCtrl"
            class="btn btn-info" type='submit'>LOG</button></li>

        <li class='log'><button ng-click="count1=count1+1" ng-init="count1=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Word
          Choice
          <span class='count' name="wc">Error Count: {{count1}}</span> </li>

        <li class='log'><button ng-click="count2=count2+1" ng-init="count2=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Verb
          Tense
          <span class='count' name="vt">Error Count: {{count2}}</span></li>

        <li class='log'><button ng-click="count3=count3+1" ng-init="count3=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Verb
          Form
          <span class='count' name="vf">Error Count: {{count3}}</span>
        </li>

        <li class='log'><button ng-click="count4=count4+1" ng-init="count4=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Subject
          Verb Agreement
          <span class='count' name="sva">Error Count: {{count4}}</span></li>
      </wrap>

      <wrap class="col-md-6">
        <li class='log'><button ng-click="count5=count5+1" ng-init="count5=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Fused
          Sentence
          <span class='count' name="fs">Error Count: {{count5}}</span>
        </li>

        <li class='log'><button ng-click="count6=count6+1" ng-init="count6=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Comma
          Splice
          <span class='count' name="cs">Error Count: {{count6}}</span>
        </li>

        <li class='log'><button ng-click="count7=count7+1" ng-init="count7=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Fragment
          <span class='count' name="frag">Error Count: {{count7}}</span>
        </li>

        <li class='log'><button ng-click="count8=count8+1" ng-init="count8=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Passive
          Voice Construction
          <span class='count' name="pvc">Error Count: {{count8}}</span></li>

        <li class='log'><button ng-click="count9=count9+1" ng-init="count9=0" type="button" class="btn btn-warning">LOG</button><button class="btn btn-success">Delete</button>Punctuation
          <span class='count' name="punc">Error Count: {{count9}}</span> </li>

        <li class='log'><button type='button' class='btn btn-info' type="submit" ng-click="submit1()" ng-controller="GrammarCheckCtrl">SUBMIT</button></li>

      </wrap>

      </form>

</div>
<div id="resources">
  <h2>You keep using that word. I don't think it means what you think it means.</h2>
  <a class="rlink" href='http://www.dictionary.com'>Dictionary.com</a>
  <h2>Too many repeating words?</h2>
  <a class="rlink" href='http://www.thesaurus.com/'>Thesaurus.com</a>
  <h2>Did you cite it?</h2>
  <a class="rlink" href='https://owl.english.purdue.edu/owl/resource/747/24/'>Purdue OWL</a>
  <div>
    <a class="rlink" href='http://www.citationmachine.net'>Citation Machine</a>
  </div>
</div>