<div class='row'>
  <wrap class="col-md-6">
    <h1>Grammar Checker</h1>

    <form name="checkform" action="http://community.languagetool.org" method="post" id="tool">

      <p id="checktextpara">
        <textarea id="checktext" name="text" style="width: 100%" rows="6">Paste your essay here one paragraph at a time. To track your problem areas log your erros on the right.</textarea>
      </p>

      <div>
        <select name="lang" id="lang">
          <option value="en-US">English</option>
          <option value="de-DE">German</option>
          <option value="it">Italian</option>
      </select>
        <input type="submit" name="_action_checkText" value="Check Text" onClick="doit();return false;">
        <div id="feedbackErrorMessage" style="color: red;"></div>
      </div>

    </form>

    <a href='www.languagetool.org'>Language Tool</a>
  </wrap>
  <wrap id='tracker' class="col-md-6">
    <h2>Track Errors</h2>
    <ul id='errors'>

      <li class='log'><button ng-click="count=count+1" ng-init="count=0" type="button" class="btn btn-success">LOG</button>Spelling<span class='count'>Error Count: {{count}}</span></li>

      <li class='log'>Record word:<input type='text' id="spelling"/></li>

      <li class='log'><button ng-click="count1=count1+1" ng-init="count1=0" type="button" class="btn btn-success">LOG</button>Word Choice <span class='count'>Error Count: {{count1}}</span> </li>

      <li class='log'><button ng-click="count2=count2+1" ng-init="count2=0" type="button" class="btn btn-success">LOG</button>Verb Tense <span class='count'>Error Count: {{count2}}</span></li>

      <li class='log'><button ng-click="count3=count3+1" ng-init="count3=0" type="button" class="btn btn-success">LOG</button>Verb Form<span class='count'>Error Count: {{count3}}</span></li>
      
      <li class='log'><button ng-click="count4=count4+1" ng-init="count4=0" type="button" class="btn btn-success">LOG</button>Subject Verb Agreement<span class='count'>Error Count: {{count4}}</span></li>
      
      <li class='log'><button ng-click="count5=count5+1" ng-init="count5=0" type="button" class="btn btn-success">LOG</button>Fused Sentence<span class='count'>Error Count: {{count5}}</span></li>

      <li class='log'><button ng-click="count6=count6+1" ng-init="count6=0" type="button" class="btn btn-success">LOG</button>Comma Splice<span class='count'>Error Count: {{count6}}</span></li>
 
      <li class='log'><button ng-click="count7=count7+1" ng-init="count7=0" type="button" class="btn btn-success">LOG</button>Fragment <span class='count'>Error Count: {{count7}}</span> </li>

      <li class='log'><button ng-click="count8=count8+1" ng-init="count8=0" type="button" class="btn btn-success">LOG</button>Passive Voice Construction<span class='count'>Error Count: {{count8}}</span></li>

      <li class='log'><button ng-click="count9=count9+1" ng-init="count9=0" type="button" class="btn btn-success">LOG</button>Punctuation <span class='count'>Error Count: {{count9}}</span> </li>
  
  </wrap>

</div>